@charset "UTF-8";

* {padding: 0; margin: 0; box-sizing: border-box; font-family: '맑은 고딕', Arial, sans-serif; color: #333333;}
ol, ul {list-style: none;}
a {text-decoration: none; color: inherit;}

.wrap {position: relative; width: 1200px; height: 700px; margin: 0 auto;}
header, footer {display: flex; height: 100px; align-items: center;}

/* 팝업 */
.popup-bg {position: fixed; width: 100%; height: 100%; background-color: #333333; z-index: 998; opacity: 0.5; display: none;}
.popup-box {position: absolute; width: 100%; height: 100%; z-index: 999; display: none;}
.popup {position: absolute; width: 600px; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; line-height: 2; border: 1px solid #000; background: #fff; padding: 20px;}
.popup p {font-size: 15px; margin-top: 10px;}
.popup div {margin-top: 30px;}
.popup button {float: right; padding: 4px; cursor: pointer;}

/* 메뉴 */
.header-bg {position: absolute; width: 100%; height: 163px; left: 0; top: 73px; background-color: beige; z-index: 997; display: none;}
header nav {width: 600px; margin-left: 400px;}
header nav > ul {display: flex;}
header ul a {display: block; text-align: center; background-color: beige; padding: 10px;}
li.menu {position: relative; width: 25%;}
li.menu > a {font-size: 18px; font-weight: 600; background-color: #fff;}
ul.sub-menu {position: absolute; width: 100%; z-index: 998; display: none;}
li.menu:hover > a {background-color: aqua; color: white;}
ul.sub-menu li:hover a {background-color: aquamarine; color: white;}

/* 메뉴-세로 */
/* .wrap {display: flex; width: 1200px; height: 700px;}
header { width: 200px; height: 100%; border-right: 1px solid #000;}
header nav {margin-top: 20px;}
header nav > ul {width:180px; padding-left: 14px;}
header nav a {display: block; padding: 10px;} */

/* 메뉴-세로2 */
/* li.menu {position:relative;}
ul.sub-menu {position: absolute; left: 166px; top: -30px; width: 100%; z-index: 998; display: none;} */

/* 슬라이드-세로 */
.slide-container {position: relative; height: 300px; overflow: hidden; z-index: 0;}
.slide-wrap {position: absolute;}
.slide {position: relative;}

/* 슬라이드-가로 */
/* .slide-container {height: 300px; overflow: hidden;} */
/* .slide-wrap {width: 300%;} */
/* .slide {float: left;} */

/* 슬라이드-페이드 */
/* .slide-container {height: 300px;} */
/* .slide-wrap {position: relative;} */
/* .slide {position: absolute;} */

.slide p {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #fff; background-color: #000; border-radius: 50px; padding: 10px 20px;}

.content {display: flex; width: 100%; height: 200px;}
.content > * {width: 400px; height: 200px;}

/* 탭 */
.tab-menu li {display: inline-block; font-size: 18px; padding: 10px 10px; font-weight: 700;}
.tab-menu li.on {background-color: rgb(219, 175, 219);}

.tab-item {overflow:hidden;}
.tab-item ul {display: none;}
.tab-item >* {height: 156px; padding: 10px;}
.tab-item >*.on {display: block; background-color:  rgb(219, 175, 219);}

.notice li {display: flex; line-height: 2.2;}
.notice li a {display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.notice li span {margin-left: auto;}
.notice li:hover {text-decoration: underline;}

.gallery li {display: inline-block; width: 32%; margin-top: 8px;}
.gallery a img {width: 100%;}

/* 푸터 */
footer {background-color: #eee;}
footer .footer-logo {display: block; width: 200px; height: 40px;}
footer p {width: 70%; text-align: center;}
footer .sns a img {width: 20px; margin-left: 20px;}